---
const pageTitle = 'About Me'


const indenty = {
  firstName: 'Andre',
  counry: 'Guatemala',
  occuptation: 'Dev',
  hobbies: ['Futbol', 'Photo', 'Gym']
}

const skills = ['HTML', 'CSS', 'Javascript', 'React', 'Astro']

const happy = true
const finished = false
const goal = 3
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    {happy && <p>Soy feliz programando en Astro</p>}
    {finished && <p>Termine este tutorial</p>}
    {goal && <p>Mi meta es terminar este tutorial en 3 días</p>}
    <ul>
      <li>Vivo en {indenty.counry}, me llamo {indenty.firstName}, mis hobbies son {indenty.hobbies}</li>
    </ul>
    <p>My skills are</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <style>
      .skill {
        color: green;
      }
    </style>
  </body>
</html>